.cart-card{
    margin: 1rem;
    height: 300px;
    width: 1000px;
}

.cart-card-img{
    height: 200px;
    width: 260px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
}