.dropdown-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown-icon {
    margin-right: 5px; 
  }
  
  .form-navbar{
    width: 300px;
    height: 40px;
    margin-right: 10px;
  }