
body {
    font-family: Arial, sans-serif;
}

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f0f2f5;
}

.register-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 780px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}
.form-button{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: auto;
}

.btn {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 100px;
}

.btn-primary {
    background-color: #8ea7c1;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}
